#carnia-logo-gray {
    background: #565656;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
#footerwrap {
    color: #fff;
    background-color: #303333;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}